body {
    background-color: rgb(31, 31, 31);
}

.dev-sidebar {
    background-color: rgb(24, 24, 24);
    border-right: 1px solid rgb(200, 200, 200, 0.5);
}

.dev-sidebar-header {
    font-size: 20pt;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid rgb(200, 200, 200, 0.5);
}

.dev-font {
    font-family: Consolas, 'Courier New', monospace;
    color: white;
}
    .dev-font h1 {
        padding: 1.5rem 0 0.5rem 1rem;
        font-size: 22pt;
        letter-spacing: 0.3em;
        font-weight: 800;
    }

    .dev-font h2 {
        padding: 1.5rem 0 0.5rem 2rem;
        font-size: 18pt;
        font-weight: 500;
    }
    
    .dev-font p {
        font-size: 12pt;
        padding-left: 3rem;
    }

    .dev-font td {
        font-size: 12pt;
    }

.dev-sidebar-item-group {
    padding: 0;
    margin: 0;
}

.dev-sidebar-item {
    padding: 0.35em 2em;
    list-style-type: none;
    color: white;
    font-size: 14pt;
    font-weight: 100;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgb(200, 200, 200, 0.2);
}

    .dev-sidebar-item a {
        color: white;
        text-decoration: none;
    }

.dev-content-group {
    padding-bottom: 3rem;
}

    .dev-content-group table {
        max-width: 50em;
        width: 100%;
        margin-left: 3rem;
    }

    .dev-content-group td {
        width: 33%;
    }

.mobile-contact {
    display: none;
}

    .mobile-contact a {
        color: rbg(50, 50, 250, 1);
        text-decoration: none;
    }


@media only screen and (max-device-width:480px) {
    .dev-sidebar {
        display: none;
    }

    .dev-content-group table {
        width: 100%;
        margin-left: 0;
    }

    .dev-content-group td {
        font-size: 12pt;
        padding: 0.5em 0.5em;
    }

    .dev-font h1 {
        padding: 0.5rem 0 0.2rem 0.5rem;
        font-size: 22pt;
        letter-spacing: 0.2em;
        font-weight: 800;
    }

    .dev-font p {
        padding-left: 1em;
    }

    .project-image img {
        width: 100%;
        height: auto;
    }

    .mobile-contact {
        display: inherit;
    }
}